/* Default styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.registeration__wrapper , .loginForm__wrapper{
  width: 100vw;
  height: 100vh;
  display: grid;
  place-content: center;
}

.registeration, .loginForm {
  display: grid;
  grid-template-columns: 3fr 4fr;
  
  width: 80vw;
  background: #f7f7f7;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.registeration__image, .loginForm__image {
  height: 90vh;
}

.registeration__image img, .loginForm__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.registeration__form, .loginForm__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  padding: 2rem 3rem;
}

.registeration__form h1 , .loginForm__form h1{
  text-align: center;
  margin-bottom: 1rem;
}

input {
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: .5rem 1rem;
  margin-top: .5rem;
  margin-bottom: 1rem;
  width: 100%;
}

input:focus {
  outline-color: #4CAF50;
}

button {
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-top: .5rem;
  margin-bottom: 1rem;
  width: 100%;
  background: #4CAF50;
  color: #fff;
  font-size: 1.125rem;
  cursor: pointer;
}


.registeration a, .loginForm a {
  font-size: 1rem;
  color: #4CAF50;
  text-decoration: none !important;
}

.registeration a:hover, .loginForm a:hover {
  text-decoration: underline !important;
}

span {
  font-size: 17px;
}


#errorMessage {
  color: red;
}



/* Media queries for tablet screens */
@media screen and (max-width: 768px) {
  .registeration__wrapper {
    height: auto;
    padding: 1rem;
  }
  .loginForm__wrapper {
    padding: 1rem;
  }

  .registeration , .loginForm{
    grid-template-columns: 1fr;
  }

  .registeration__image , .loginForm__image{
    display: none;
  }

  .registeration__form , .loginForm__form{
    height: auto;
    padding: 2rem 1rem;
  }
}

/* Media queries for mobile screens */
@media screen and (max-width: 525px) {
  .registeration , .loginForm{
    max-width: auto;
  }
  .registeration__form h1 , .loginForm__form h1{
    text-align: left;
    margin-bottom: 2rem;
    font-size: 1.5rem;
  }

  .registeration__form , .loginForm__form{
    align-items: start;
  }
  .registeration__form label, .loginForm__form label{
    font-size: .875rem;
  }
  .registeration__form input, .loginForm__form input{
    font-size: .875rem;
  }
  .registeration__form button, .loginForm__form button{
    font-size: 1rem;
  }
}
